spring:
  application:
    name: Market-Analyzer-BE
  datasource:
    url: jdbc:postgresql://localhost:5432/it_job_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  swagger-ui:
    path: /swagger
